[submodule "libs/libnet"]
	path = libs/libnet
	url = https://github.com/radkesvat/libnet
[submodule "libs/libpcap"]
	path = libs/libpcap
	url = https://github.com/radkesvat/libpcap
[submodule "libs/npcap"]
	path = libs/npcap
	url = https://github.com/radkesvat/npcap
[submodule "libs/chronos"]
	path = libs/chronos
	url = https://github.com/radkesvat/nim-chronos
