[submodule "libs/libpcap"]
	path = libs/libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "libs/chronos"]
	path = libs/chronos
	url = https://github.com/status-im/nim-chronos
[submodule "libs/libnet"]
	path = libs/libnet
	url = https://github.com/libnet/libnet
